<h1>Review Your Comment:</h1>

<br>
<p><%= @comment.content %></p>
<br>
<% if @comment.user_id == current_user.id %>
  <%= link_to 'Edit this Comment', edit_comment_path(@comment), class: 'btn-link' %> 
  <%= link_to 'Delete this Comment', comment_path, method: :delete, class: 'btn-link' %> 
<% end %>
<%= link_to 'Back to Project Page', project_path(@comment.project), class: 'btn-link' %>