<h1>Yarn Stasher</h1>

<div class="top-project">
  <h2>Most Popular Project</h2>
</div>

<div class="top-commenter">
  <h2>Top Commenter</h2>
</div>

<div class="new-projects">
  <h2>Recently Created Projects</h2>
</div>