// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.avatar {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 20px;
}

.avatar img {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  vertical-align: middle;
  text-align: center;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 20px;
}

.project-card {
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  transition: 0.3s;
  padding: 2px 15px;
  border-radius: 5px;
  border: 1px solid #d7d6d6;
}