<h1>Edit Yarn</h1>

<%= render partial: 'layouts/errors', locals: {object: @yarn} %>

<%= form_for(@yarn) do |f| %>
  <%= render 'form', f: f %>

  <%= f.submit "Update Yarn", class: 'submit-btn' %>
<% end %>

